/* Navbar */
.header{
    background: url("../public/images/dog2.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 931px;


}
.headerSVG{
    position: relative;
    top: -40px;
    width: 90%;
}

.rectangle{
    width: 100%;
    z-index: 0;
    max-height: 216px;
    min-height: 216px;
    position: absolute;
    opacity: 10%;
    background-color: #d2d2d2;
}

.headerNav{
    gap: 32rem;
    position: relative;
    z-index: 1;
    
}
.headerList{
    margin-top: 40px;
    gap:2rem;
    align-self:first baseline;
    font-size: 1rem;
    font-family: 'Kavivanar', sans-serif;
}
.headerList a{color: #fff;}


/* Main Section Text */
.main-section-text-container{
    grid-template-columns: repeat(12, 1fr);

}
.main-section-text{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    grid-area: 1 / 6 / 1 / 11;
    text-align: justify;
    padding-left: 10px;
    
}

/* Main Section Services */
.line-div{
    background-color: black;
    height: 2px;
    width: 100%;
}
.main-section-services-div-container{
    margin-top: 10rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,50px);

}
.main-section-services-childs:nth-last-child(1){
    grid-area: 1 / 9 / 4 / 11 ;
}

.main-section-services-childs:nth-last-child(2){
    grid-area: 5 / 9 / 9 / 11 ;
}

.main-section-services-childs:nth-last-child(3){
    grid-area: 5 / 6 / 8 / 8 ;
}

.main-section-services-childs:nth-last-child(4){
    grid-area: 1 / 6 / 4 / 8 ;
}
#main-section-services-h2{font-size: 1.2rem;}
#main-section-services-p{font-size: 1.1rem;}

/* flexible services section */

.flexible-services-section{
    height: 1000px;
    margin-top: 7rem;
    justify-content: center;
}
.flexible-services-black{width: 33.33%;}
.flexible-services-red{width: 33.33%;}

.flexible-services-image{
    background-image: url("../public/images/flexibleservicesimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.33%;
}
/* .flexible-image-heading-background{
    opacity: 20%;
    
} */
#flexible-services-h2{
    font-size: 5rem;
    font-family: 'Outfit';
    padding-left: 4rem;
}
.flexible-services-bottom-headings{
    font-size: 3rem;
    font-family: 'Outfit';
    padding-left: 5rem;
    font-weight: bolder;
}

/* Our Team section */
#our-team-heading{
    text-align: center;
    font-weight: bolder;
    font-family: 'Outfit';
    font-size: 4rem;
}
.our-team-container{
    margin-top: 2rem;
    gap: 1rem;
    justify-content: center;
}
.our-team-cards{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    width: 350px;
    height: 445px;
}
.our-team-image-wrapper{
    clip-path: circle(50% at 50% 50%);
    width: 200px;
    height: 200px;
}
.our-team-image{max-width: 100%;}
.our-team-name-text{font-size: 1.5rem;}
.our-team-position-text{font-size: 1.5rem;}
.our-team-social-icons{width: 100px; height: 50px;}
.our-team-icons{width: 50%;}

/* Peace of mind section */

.peace-of-mind-container{margin-top: 5rem; width: 100%; height: 900px; }
.peace-of-mind-right-section{width: 55%;}
.peace-of-mind-left-section{width: 45%;}
.peace-of-mind-image{height: 100%; width: 100%;}
#for-peace-of-mind-title{font-size:4rem; margin-top:0.3rem; padding-left: 2rem;}
#for-peace-of-mind-bottom-title{font-size: 2.5rem; padding-left: 2rem;}

/* Get in touch */
.get-in-touch-container{
    width: 100%;
    height: 800px;
}
#get-in-touch-h2{font-size: 3rem;}
#get-in-touch-paragraph{font-size: 7rem;}

/* Footer section */
.footer-container{
    width: 100%;
    height: 650px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 108px);
}
.footer-a-logo{
    grid-area: 2 / 3 / 4 / 6;
}
.footerSVG{
    width: 90%;
    height: 100%;
}
#footer-left-column{
    grid-area: 4 / 3 / 5 / 6  ;
}

#footer-middle-column{
    grid-area: 4 / 7 / 5 / 11 ;
}

#footer-right-column{
    grid-area: 4 / 9 / 5 / 11
}
.footer-nav a , li {
    font-size: 1.5rem;
    color: white;
    font-family: outfit;
    list-style: none;
    text-decoration: none;
}