/* Navbar */
.header{
    background: url("../public/images/dog2.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 931px;

}
.headerSVG{
    position: relative;
    top: -40px;
    width: 90%;
}

.rectangle{
    width: 100%;
    z-index: 0;
    max-height: 216px;
    min-height: 216px;
    position: absolute;
    opacity: 10%;
    background-color: #d2d2d2;
}

.headerNav{
    gap: 32rem;
    position: relative;
    z-index: 1;
}
.headerList{
    margin-top: 40px;
    gap:2rem;
    align-self:first baseline;
    font-size: 1rem;
    font-family: 'Kavivanar', sans-serif;
}

