/* Navbar */
.header{
    background: url("../public/images/dog2.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 931px;


}
.headerSVG{
    position: relative;
    top: -40px;
    width: 90%;
}

.rectangle{
    width: 100%;
    z-index: 0;
    max-height: 216px;
    min-height: 216px;
    position: absolute;
    opacity: 10%;
    background-color: #d2d2d2;
}

.headerNav{
    gap: 32rem;
    position: relative;
    z-index: 1;
    
}
.headerList{
    margin-top: 40px;
    gap:2rem;
    align-self:first baseline;
    font-size: 1rem;
    font-family: 'Kavivanar', sans-serif;
}
.headerList a{color: #fff;}


/* Main Section Text */
.main-section-text-container{
    grid-template-columns: repeat(12, 1fr);

}
.main-section-text{
    color: black;
    font-weight: bold;
    font-size: 2rem;
    grid-area: 1 / 6 / 1 / 11;
    text-align: justify;
    padding-left: 10px;
    
}

/* Main Section Services */
.line-div{
    background-color: black;
    height: 2px;
    width: 100%;
}
.main-section-services-div-container{
    margin-top: 10rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,50px);

}
.main-section-services-childs:nth-last-child(1){
    grid-area: 1 / 9 / 4 / 11 ;
}

.main-section-services-childs:nth-last-child(2){
    grid-area: 5 / 9 / 9 / 11 ;
}

.main-section-services-childs:nth-last-child(3){
    grid-area: 5 / 6 / 8 / 8 ;
}

.main-section-services-childs:nth-last-child(4){
    grid-area: 1 / 6 / 4 / 8 ;
}

/* flexible services section */

.flexible-services-section{
    height: 1000px;
    margin-top: 7rem;
    justify-content: center;
}
.flexible-services-black{width: 33.33%;}
.flexible-services-red{width: 33.33%;}

.flexible-services-image{
    background-image: url("../public/images/flexibleservicesimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 33.33%;
}
/* .flexible-image-heading-background{
    opacity: 20%;
    
} */
#flexible-services-h2{
    font-size: 5rem;
    font-family: 'Outfit';
    padding-left: 4rem;
}
.flexible-services-bottom-headings{
    font-size: 3rem;
    font-family: 'Outfit';
    padding-left: 5rem;
    font-weight: bolder;
}


